
/* Responsive Indicator
==================================================
Raystation
http://rayuen.com */

.responsive-indicator {
  font-family: "Input Sans", Verdana, sans-serif;
  padding: 2px 4px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  opacity: 0.9;
  background-color: rgba(0,0,0,0.2);
}